*,
::before,
::after,
body {
  margin: 0;
}

.signin__container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-image: url(../assets/NG-en-20201116-popsignuptwoweeks-perspective_alpha_website_small\ 1.png);
  position: relative;
  justify-content: center;
  display: flex;
}

.signin__logo {
  height: 50px;
  width: 200px;
  /* background-image: url(../assets/Netflix-.png); */
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 100px;
  /* align-items: center; */
}

.signin__form__container {
  height: 50vh;
  width: 400px;
  text-align: center;
  border: 2px solid red;
  /* position: absolute; */
  /* margin: 120px 300px; */
  border-radius: 20px 20px;
  object-position: center;
  color: white;
  padding: 40px 70px;
  margin-top: 100px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
}

.signin__form__container h3 {
  text-align: left;
  margin-bottom: 15px;
}

.signin__form__container .first_input {
  width: 250px;
  height: 30px;
  margin-bottom: 20px;
  /* margin-top: 25px; */
  background-color: rgb(71, 68, 68);
  border-radius: 5px 5px;
  /* text-align: center; */
  border: none;
}

.signin__form__container .sign_in {
  background-color: rgb(229, 9, 20);
}
