* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --pri-color: #e50914;
  --sec-color: #000;
  --white: #fff;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  max-width: 100vw;
  background-color: black;
  color: white;
  font-family: "century gothic";
}

@media only screen and (max-width: 768px) {
  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    max-width: 600px;
  }
}
